<li>
    {{name}}

    <button class="eat-burger" data-id="{{id}}" data-devoured= data-devoured="{{devoured}}">
        {{#if devoured}} Crushed a Burger!{{else}} Get to chowing!{{/if}}
    </button>
</li>