li {
  padding: 5px;
  margin: 5px;
  
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-image: url("../img/eddie.jpg")
}

#main {
  text-align: center;
  background:#faebd7;
  opacity: .75
  
}

#titleBox {
  margin-top: 100px
}

#listField {
  text-align: center;
  margin-top: 20px;
  
}
#orderButton {
  margin-bottom: 10px
}

#orderedBox {
  background:#faebd7;
  margin-right: 20px;
  opacity: .75
}

#crushedBox {
  background:#faebd7;
  opacity: .75
}